{% extends "layouts/cvl.html" %}

{% set pageName="Vary licence details" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Vary licence details
        </h1>

        <form method="get">

          <h2 class="govuk-heading-m">
            Variation details
              </h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have you discussed this variation request with your SPO?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['discussSPO'] == 'no' %}  
                No
                {% else %}  
                Yes
                {% endif %}  
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link govuk-link--no-visited-state" href="discuss-spo-edit">Change<span class="govuk-visually-hidden"> if you have discussed this variation request with your SPO</span></a>
                  </li>
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have you consulted with the victim liaison officer (VLO) for this case?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['consultVLO'] == 'no' %}  
                Not applicable
                {% else %}  
                Yes
                {% endif %}  
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link govuk-link--no-visited-state" href="consult-vlo-edit">Change<span class="govuk-visually-hidden"> if you have consulted with the victim liaison officer (VLO) for this case</span></a>
                  </li>
                </ul>
              </dd>
            </div>
            {% if data['addressType'] == 'res' %}  
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have you completed the residential address checks?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['addressChecks'] == 'no' %}  
                No
                {% else %}  
                Yes
                {% endif %}  
              </dd>
              <dd class="govuk-summary-list__actions">
                <ul class="govuk-summary-list__actions-list">
                  <li class="govuk-summary-list__actions-list-item">
                    <a class="govuk-link govuk-link--no-visited-state" href="address-checks-edit">Change<span class="govuk-visually-hidden"> if you have completed the residential address checks</span></a>
                  </li>
                </ul>
              </dd>
            </div>
            {% endif %}  
          </dl>
  

        {% if data['additionalConditionsPresent'] == 'yes' %}  

        <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-8">
          <h2 class="govuk-heading-m" style="display: inline;">
            Additional licence conditions (2)
              </h2>

              
              <a href="../../../../_common/not-testing.html">
                <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add or remove conditions
                </button>
              </a>

              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Condition 1 key
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Condition 1 value
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> ?</span></a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Condition 2 key
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Condition 2 value
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> ?</span></a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
        </div>
        {% else %}  
        <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-8">
          <h2 class="govuk-heading-m" style="display: inline;">
            Additional licence conditions (0)
              </h2>
              <a href="../../../../_common/not-testing.html">
                <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add conditions
                </button>
              </a>
        </div>
        {% endif %}  


        {% if data['bespokeConditionsPresent'] == 'yes' %}  

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" style="display: inline;">
            Bespoke licence conditions (1)
              </h2>

              
              <a href="../../../../_common/not-testing.html">
                <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add or remove conditions
                </button>
              </a>

              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Condition 1 key
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['bespokeDetail'] or "Bespoke condition value" }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                      <li class="govuk-summary-list__actions-list-item">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> ?</span></a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
        </div>
        {% else %}  

        <div class="govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-m" style="display: inline;">
            Bespoke licence conditions (0)
              </h2>

              
              <a href="../../../../_common/not-testing.html">
                <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Add conditions
                </button>
              </a>
            </div>

        {% endif %}  


        <div class="govuk-button-group govuk-!-margin-top-8">
          <a href="add-variation-reasons" type="submit" class="govuk-button" data-module="govuk-button">
            View summary and add notes
        </a>
        <a href="#" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Discard changes
        </a>
        <a class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state" href="case-list-view">
            Return to caselist
        </a>
        </div>
        </form>

  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}