{% extends "layouts/cvl.html" %}

{% set pageName="Tell other agencies about the licence variation" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <div class="moj-interruption-card">
          <div class="moj-interruption-card__content">
            <h1 class="govuk-heading-l moj-interruption-card__heading">Send the new licence to other agencies</h1>
            <div class="govuk-body-l moj-interruption-card__body">

              <p>Once the licence variation has been approved, you must send a copy of the new licence to the police and the Electronic Monitoring Service (EMS) about the updated licence.  </p>
              <p>The service does not do this automatically.</p>
            </div>
            <div class="govuk-button-group moj-interruption-card__actions">
        
              <a href="../confirmation.html" role="button" draggable="false" class="govuk-button govuk-button--inverse" data-module="govuk-button">
                Continue
              </a>
        
              <!-- <a class="govuk-link govuk-link--inverse" href="#">Go back to my case list</a> -->
        
            </div>
          </div>
        </div>
  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}