{% extends "layouts/cvl.html" %}

{% set pageName="Create and vary a licence – Access restricted on NDelius" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Access restricted on NDelius</h1>

    <p class="govuk-body"><a href="#">Check EQuiP</a> to find out how to request access to information about this person.</p>

    <h2 class="govuk-heading-s">Additional information from NDelius</h2>

    <p class="govuk-body">Please contact the National Security Division for Kent, Surrey and Sussex to request further info</p>
      
    <br>

    <form action="../pre-release/create/case-list-start" method="post">

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Return to case list
      </button>

    </form>
    
      
  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}