{% extends "layouts/cvl.html" %}

{% set pageName="Who is the initial appointment with?" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-dm-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l" style="margin-bottom: 20px;">
        <h1 class="govuk-fieldset__heading">Who is the initial appointment with?</h1>
      </legend>
  </div>
</div>
<span class="govuk-hint">Choose duty officer if you have not spoken to this person’s community probation<br> practitioner or if a community probation practitioner has not been allocated. </span>
<br><br><br>



<!--START set dynamic radio hide/show text-->
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set textHtmlOther %}
{{ govukInput({
  id: "who4",
  name: "who4",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-fieldset__legend--s govuk-input govuk-input--width-30",
  label: {
    text: "Enter name"
  }
}) }}
{% endset -%}


{{ govukRadios({
  
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },

  items: [
  {
    idPrefix: "who2",
    name: "who2",
    value: "Duty officer",
    text: "Duty officer
    ",
    conditional: {
      html: emailHtml
    }
  },


  {
    idPrefix: "who3",
    name: "who3",
    text: "Someone else",
    hint: {
      text: "For example, someone at an approved premises or a different probation practitioner."
    },
    conditional: {
      html: textHtmlOther
    }

  }


  ]
}) }}

<form method="" action="./appt-where/saved-addresses">

<button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>


</form>



{% endblock %}
