{% extends "layouts/cvl.html" %}

{% set pageName="Create and vary a licence – There is a problem – NDelius link missing" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-dm-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">There is a problem with this licence
    </br><span class="govuk-caption-l">Prison number: UV6401P</span>
    </h1>
  

    <p class="govuk-body">You cannot start this person’s licence because their NOMIS and NDelius records have not been linked.</p>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">How to fix this issue</h2>

    <p class="govuk-body">Before you can continue, ask someone with NDelius access to complete the following steps:</p>

    <ol class="govuk-list govuk-list--number">
      <li>Make the sentence active on NDelius</li>
      <li>Link their NOMIS record to their NDelius record by using Search DSS on the Event Details screen</li>
    </ol>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">For support</h2>

    <p class="govuk-body">If they need help to add the information to NDelius, tell them to <a href="https://mojprod.service-now.com/moj_sp?id=sc_cat_item&table=sc_cat_item&sys_id=e389e8931b8bc65025dc6351f54bcb82&recordUrl=com.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1&sysparm_id=e389e8931b8bc65025dc6351f54bcb82%20">request support using this form on Technology Portal</a>.</p>

    <form action="../pre-release/create/case-list-start" method="post">

      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Return to cases
      </button>

    </form>
    
      
  </div>
</div>
{% endblock %}


{% block footer %}

{% include "components/cvl-dm-ca-footer/include.html" %}

{% endblock %}