{% extends "layouts/cvl.html" %}

{% set pageName="What is the contact phone number for the initial appointment?" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form action="when-appt" method="get">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
          What is the contact phone number for the initial appointment?
        </label>
      </h1>

      <label class="govuk-label govuk-!-margin-top-6" for="telephone">
        UK phone number
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="contact-number" name="contactNumber" type="text">

      <label class="govuk-label govuk-!-margin-top-6" for="telephonealternative">
        Alternative UK phone number (optional)
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="contact-number" name="contactNumber" type="text">
      
    </div>


          <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
           Continue
          </button>
        </form>

  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}