{% extends "layouts/cvl.html" %}

{% set pageName="Add reasons for the variation" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Variation summary
        </h1>

        <form method="get">




          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Variation details
              </h2>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Reasons for this variation
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['variationReason'] or "Reason here" }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    By Philamina Rogers<br>25 Feb 2025
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    SPO consultation
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Have you discussed this variation request with your SPO?
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    {% if data['discussSPO'] == 'no' %}  
                    No
                    {% else %}  
                    Yes
                    {% endif %} 
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    VLO consultation
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Have you consulted with the victim liaison officer (VLO) for this case?
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    {% if data['consultVLO'] == 'no' %}  
                    Not applicable
                    {% else %}  
                    Yes
                    {% endif %}  
                  </dd>
                </div>
              </dl>
            </div>
          </div>


  <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                      Licence conditions added
                    </h2>
                  </div>
  
                  <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                       <dt class="govuk-summary-list__key">
                         Condition category here
                      </dt>
                    <dd class="govuk-summary-list__value">
                         Condition here
                   </dd>
                </div>
                  </dl>
                </div>
              </div>


                              <div class="govuk-summary-card">
                  <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                      Licence conditions removed
                    </h2>
                  </div>
  
                  <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                       <dt class="govuk-summary-list__key">
                         Condition category here
                      </dt>
                    <dd class="govuk-summary-list__value">
                         Condition here
                   </dd>
                </div>
                  </dl>
                </div>
              </div>



        <div class="govuk-button-group govuk-!-margin-top-8">
          <a href="confirmation" type="submit" class="govuk-button" data-module="govuk-button">
            Approve variation
        </a>
        <a href="#" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Reject or request amendments
        </a>
        </div>

  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}