{% extends "layouts/cvl.html" %}

{% set pageName="Variation for Cyphoonifer Bransabert approved" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Variation for
        {% if data['prisoner'] == 'halevary' %}
        Hale Draven Corvath
        {% elif data['prisoner'] == 'maxwell' %}
        Maxwell Kirby
        {% else %}
        Cyphoonifer Bransabert
        {% endif %} approved
      </h1>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-4">
      What happens next
     </h2>

        <p>The variation for
          {% if data['prisoner'] == 'halevary' %}
          Hale Draven Corvath
          {% elif data['prisoner'] == 'maxwell' %}
          Maxwell Kirby
          {% else %}
          Cyphoonifer Bransabert
          {% endif %} has been approved with your digital signature.</p>

        <p>We have sent an email notification to the probation practitioner.</p>

        <p>They will be able to print and issue the licence.</p>

        <a href="./case-list">
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Return to caselist
          </button>
        </a>

        <hr class="govuk-section-break govuk-section-break--visible" style="margin-bottom: 30px; margin-top: 15px;">

          <h2 class="govuk-heading-m">
            Help improve this service
          </h2>

          <p>HDC licence variations are new to this service. Your feedback will help make us to make improvements.</br></br>
            To give feedback you can:</p>

          <ul class="govuk-list govuk-list--bullet" style="margin-top: -10px">
            <li style="margin-bottom: 10px"><a class="govuk-link" href="#">complete a short survey</a></li>
            <li><a class="govuk-link" href="#">report a technical problem on Technology Portal</a></li>
          </ul>

        <p class="govuk-!-margin-top-6"><a href="/v4/probation-practitioner/post-release/after-pdu-approve/case-list" class="govuk-link--no-visited-state">Jump to probation practitioner flow</a></p>

  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}