  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full border-bottom">
        <div class="govuk-caption-m">

{% if data['prisoner'] == 'hale' %}  
            <span class="pipe-separated__item">CRN: H87D13C</span>
            <span class="pipe-separated__item">
                {% if data['scenario'] == 'hdcadadded' %}
                HDCAD: {{ "today" | duration(6) | govukDate(truncate=true) }}
                {% else %}
                HDCED: {{ "today" | duration(4) | govukDate(truncate=true) }}
                {% endif %}
            </span>
            <span class="pipe-separated__item">Date of birth: 12 Dec 1999</span>
        </div>
        <span class="govuk-heading-m">Hale Draven Corvath</span>

{% elif data['prisoner'] == 'ndelius' %}  
            <span class="pipe-separated__item">Prison number: UV6401P</span>
            <span class="pipe-separated__item">Release date: {{ "today" | duration(5) | govukDate(truncate=true) }}</span>
            <span class="pipe-separated__item">Date of birth: 4 Sep 1973</span>
        </div>
        <span class="govuk-heading-m">NDelius Missing</span>

{% elif data['prisoner'] == 'charlie' %}  
            <span class="pipe-separated__item">CRN: C389095</span>
            <span class="pipe-separated__item">Release date: {{ "today" | duration(0) | govukDate(truncate=true) }}</span>
            <span class="pipe-separated__item">Date of birth: 20 May 1984</span>
        </div>
        <span class="govuk-heading-m">Charlie Martin</span>

{% elif data['prisoner'] == 'dwayne' %}  
            <span class="pipe-separated__item">CRN: G5613GT</span>
            <span class="pipe-separated__item">Release date: {{ "today" | duration(0) | govukDate(truncate=true) }}</span>
            <span class="pipe-separated__item">Date of birth: 13 Apr 1977</span>
        </div>
        <span class="govuk-heading-m">Dwayne Briggs</span>

{% elif data['prisoner'] == 'reuben' %}  
            <span class="pipe-separated__item">CRN: C762241</span>
            <span class="pipe-separated__item">Release date: {{ "today" | duration(0) | govukDate(truncate=true) }}</span>
            <span class="pipe-separated__item">Date of birth: 26 Sept 1960</span>
        </div>
        <span class="govuk-heading-m">Reuben Lee</span>

    
  {% elif data['prisoner'] == 'kairo' %}  
          <span class="pipe-separated__item">CRN: R885645</span>
          <span class="pipe-separated__item">Release date: {{ "today" | duration(13) | govukDate(truncate=true) }}</span>
          <span class="pipe-separated__item">Date of birth: 5 Dec 1966</span>
      </div>
      <span class="govuk-heading-m">Kairo Watson</span>


  {% elif data['prisoner'] == 'marcel' %}  
          <span class="pipe-separated__item">CRN: F246831</span>
          <span class="pipe-separated__item">Release date: {{ "today" | duration(12) | govukDate(truncate=true) }}</span>
          <span class="pipe-separated__item">Date of birth: 11 Nov 1984</span>
      </div>
      <span class="govuk-heading-m">Marcel Evans</span>


  {% elif data['prisoner'] == 'gabriel' %}  
              <span class="pipe-separated__item">CRN: V279953</span>
              <span class="pipe-separated__item">Release date: {{ "today" | duration(11) | govukDate(truncate=true) }}</span>
              <span class="pipe-separated__item">Date of birth: 20 Feb 2000</span>
          </div>
          <span class="govuk-heading-m">Gabriel Collins</span>


 {% elif data['prisoner'] == 'diego' %}  
            <span class="pipe-separated__item">CRN: S674889</span>
            {% if data['varyFlow'] == 'True' %}  
            <span class="pipe-separated__item">Licence end date: 15 Oct 2025</span>
            {% else %}  
            <span class="pipe-separated__item">Release date: 16 Apr 2025</span>
            {% endif %}  
            <span class="pipe-separated__item">Date of birth: 17 June 1999</span>
        </div>
        <span class="govuk-heading-m">Diego Rodriguez</span>


 {% elif data['prisoner'] == 'cyphoonifer' %}  
    <span class="pipe-separated__item">CRN: A693826</span>
{% if data['varyFlow'] == 'True' %}  
  <span class="pipe-separated__item">Licence end date: 10 Jan 2026</span>
  {% else %}  
 <span class="pipe-separated__item">Release date: 27 May 2025</span>
 {% endif %}  
 <span class="pipe-separated__item">Date of birth: 10 Nov 1970</span>
    </div>
    <span class="govuk-heading-m">Cyphoonifer Bransabert</span>


  {% elif data['prisoner'] == 'montgomery' %}  
        <span class="pipe-separated__item">CRN: F906211</span>
        {% if data['varyFlow'] == 'True' %}  
        <span class="pipe-separated__item">Licence end date: 24 Nov 2025</span>
        {% else %}  
        <span class="pipe-separated__item">Release date: 5 Feb 2025</span>
        {% endif %}  
        <span class="pipe-separated__item">Date of birth: 17 June 1966</span>
    </div>
    <span class="govuk-heading-m">Montgomery Talbot</span>


 {% elif data['prisoner'] == 'guy' %}  
    <span class="pipe-separated__item">CRN: Z503727</span>
    {% if data['varyFlow'] == 'True' %}  
    <span class="pipe-separated__item">Licence end date: 20 Sep 2025</span>
    {% else %}  
    <span class="pipe-separated__item">Release date: 11 Mar 2025</span>
    {% endif %}  
    <span class="pipe-separated__item">Date of birth: 5 Jan 1978</span>
</div>
<span class="govuk-heading-m">Guy Richards</span>

 
{% elif data['prisoner'] == 'maxwell' %}  
        <span class="pipe-separated__item">CRN: A5677DD</span>
        {% if data['varyFlow'] == 'True' %}  
          <span class="pipe-separated__item">Licence end date: 10 Oct 2025</span>
          {% else %}  
         <span class="pipe-separated__item">Release date: 25 Feb 2025</span>
         {% endif %}  
         <span class="pipe-separated__item">Date of birth: 22 Apr 1993</span>
            </div>
            <span class="govuk-heading-m">Maxwell Kirby</span>
        {% else %}  
        <span class="pipe-separated__item">CRN: A693826</span>
        {% if data['varyFlow'] == 'True' %}  
          <span class="pipe-separated__item">Licence end date: 10 Jan 2026</span>
          {% else %}  
         <span class="pipe-separated__item">Release date: 27 May 2025</span>
         {% endif %}  
         <span class="pipe-separated__item">Date of birth: 10 Nov 1970</span>
            </div>
            <span class="govuk-heading-m">Cyphoonifer Bransabert</span>
        {% endif %}  


    </div>
</div>
