  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full border-bottom">
        <div class="govuk-caption-m">

{% if data['prisoner'] == 'lorin' %}  
            <span class="pipe-separated__item">Prison number: L22M6C1</span>
            <span class="pipe-separated__item">
                HDC actual date : Thursday {{ "today" | duration(2) | govukDate(truncate=false) }}
            </span>
            <span class="pipe-separated__item">Date of birth: 12 Dec 1999</span>
        </div>
        <span class="govuk-heading-m">Lorin Mave Change</span>

{% elif data['prisoner'] == 'hale' %}  
            <span class="pipe-separated__item">Prison number: H87D13C</span>
            <span class="pipe-separated__item">
                {% if data['scenario'] == 'HDC actual date added' %}
                HDC actual date : Monday {{ "today" | duration(6) | govukDate(truncate=false) }}
                {% else %}
                HDC eligibility date: Thursday {{ "today" | duration(2) | govukDate(truncate=false) }}
                {% endif %}
            </span>
            <span class="pipe-separated__item">Date of birth: 12 Dec 1999</span>
        </div>
        <span class="govuk-heading-m">Hale Draven Corvath</span>

{% elif data['prisoner'] == 'ndelius' %}  
            <span class="pipe-separated__item">Prison number: UV6401P</span>
            <span class="pipe-separated__item">CRD: {{ "today" | duration(5) | govukDate(truncate=false) }}</span>
            <span class="pipe-separated__item">Date of birth: 4 Sep 1973</span>
        </div>
        <span class="govuk-heading-m">NDelius Missing</span>

{% endif %}  


    </div>
</div>
