{% extends "layouts/cvl.html" %}

{% set pageName="Who is the initial appointment with?" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-dm-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/prisonnumber.html" %}
{% endblock %}


{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['whoApptWith'] == 'no-appointment' %} 
    <form method="post" action="./appt-when-edit">
    {% else %} 
    <form method="post" action="./check-licence">
    {% endif %} 


      {% set textHtmlOther %}
        {{ govukInput({
          name: "who4",
          classes: "govuk-input--width-30",
          label: {
            text: "Enter name"
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "whoApptWith",
        fieldset: {
          legend: {
            text: "Who is the initial appointment with?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Duty officer",
            text: "Duty officer",
            checked: data['whoApptWith'] == 'Duty officer',
            hint: {
              text: "Choose duty officer if you have not spoken to this person’s community probation practitioner or if a community probation practitioner has not been allocated."
            }
          },
          {
            value: "Stephen McVeigh",
            text: "Stephen McVeigh, this person's community probation practitioner",
            checked: data['whoApptWith'] == 'Stephen McVeigh'
          },
          {
            value: "someone-else",
            text: "Someone else",
            checked: data['whoApptWith'] == 'someone-else',
            hint: {
              text: "For example, someone at an approved premises or a different probation practitioner."
            },
            conditional: {
              html: textHtmlOther
            }
          },
          {
            divider: "or"
          },
          {
            value: "no-appointment",
            text: "No appointment needed",
            checked: data['whoApptWith'] == 'no-appointment',
            hint: {
              html: "Select this only if the community probation team have confirmed that this person is being released in the final third of a standard determinate sentence and does not require an appointment."
            }
          }
        ]
      }) }}

      

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}


{% block footer %}

{% include "components/cvl-dm-ca-footer/include.html" %}

{% endblock %}