{% extends "layouts/cvl.html" %}

{% set pageName="Manage email notifications" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Manage email notifications
    </h1>

    <p>You can receive email notifications to help you keep track of licences.</br>
      The preferences you choose below will apply to licences for everyone on your case load.</p>

    <p>Emails will be sent to <strong>s.rooney@justice.gov.uk</strong>.</p>

  <form action="./cvl-home" method="post" novalidate>



  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="reminder-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading govuk-!-margin-top-4">
      Choose which email notifications you receive
      </h2>
    </legend>
    <!--<div id="reminder-hint" class="govuk-hint">
      Select all that apply.
    </div>-->
    <div class="govuk-checkboxes">

      <h3 class="govuk-heading-s govuk-!-margin-top-4">Notifications about creating licences</h3>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder" name="reminder" type="checkbox" value="before handover starts" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder">
          When you have licences to create
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          This email contains a list of everyone on your case load with 4 weeks or less to release whose licence has not been started in this service. It is sent every Monday.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-2" name="reminder" type="checkbox" value="handover start date" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-2">
          If someone who has been reallocated to you needs a licence
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-2" name="reminder" type="checkbox" value="handover start date" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-2">
          When someone needs a licence following a fixed-term recall
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          To let you know that the prison has changed dates in NOMIS 
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          For example, if they change a release date. 
        </div>
      </div>

      <h3 class="govuk-heading-s govuk-!-margin-top-6">Notifications about licences that are not submitted in time</h3>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          If changes you made to an approved licence do not get reapproved by 2 days before release
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-3" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-3">
          When the prison generates a standard licence in this service
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          They can do this if you do not submit a licence by 2 days before release.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          When a review of a standard licence is overdue 
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          We send this if you do not review a standard licence created by the prison within 3 days of release.
        </div>
      </div>

      <h3 class="govuk-heading-s govuk-!-margin-top-6">Notifications about licence variations</h3>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          To tell you that a licence variation has not been approved
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          When a licence variation is approved 
        </label>
      </div>
    </div>
  </fieldset>
  </div>

        


    <div class="govuk-button-group" style="margin-top: 40px;">
      <button class="govuk-button" data-module="govuk-button" name="emailreminders" value="updated">Update</button>
      <a class="govuk-link govuk-link--no-visited-state" href="./cvl-home">Cancel</a>
    </div>

  </form>
             


  </div>
</div>
{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}