{% extends "layouts/cvl.html" %}

{% set pageName="Review policy changes to additional licence conditions" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Change 4 of 5</span>
        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
          Review policy change
        </h1>
      </legend>


      <p>The licence condition below has been changed in policy.</p>

      <p>Before you can continue varying this licence, you must review this change and then accept it or delete the condition.</p>
        
      <p>The licence will then be updated automatically.</p>



<div class="govuk-form-group">


<h2 class="govuk-heading-m govuk-!-margin-top-8">Licence condition being changed</h2>

<p>Attend a location, as required by your supervising officer, to give a sample of oral fluid / urine in order to test whether you have any specified Class A and specified Class B drugs in your body, for the purpose of ensuring that you are complying with the condition of your licence requiring you to be of good behaviour. Do not take any action that could hamper or frustrate the drug testing process.</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6">New licence condition</h2>

<p class="govuk-hint">The condition has been simplified.</p>

<div class="govuk-inset-text">
When requested, provide a sample so it can be tested for specified Class A or Class B drugs. Do not try to stop or disrupt the test.
</div>



<a href="./check-licence-condition-14a" class="govuk-button show-continue" style="margin-top: 10px;">Accept change</a>
    
<a href="../delete-condition-confirm" class="govuk-button govuk-button--secondary" style="margin-top: 10px; margin-left: 10px;">Delete this condition</a>


<div style="margin-top: 50px;">
<a class="govuk-link" href="./check-licence-condition-13a-for-previous-versions">For demo purpose only: Content for version X to versio 4 upgrade</a>
</div>


  </div>
</div>
{% endblock %}
