{% extends "layouts/cvl.html" %}

{% set pageName="Review policy changes to additional licence conditions" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Change 3 of 5</span>
        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
          Review policy change
        </h1>
      </legend>


      <p>The licence condition below has been changed in policy.</p>

      <p>Before you can continue varying this licence, you must review this change and then accept it or delete the condition.</p>
        
      <p>The licence will then be updated automatically.</p>



<div class="govuk-form-group">


<h2 class="govuk-heading-m govuk-!-margin-top-8">Licence condition being changed</h2>

<p>Confine yourself to an address approved by your supervising officer between the hours of [TIME] and [TIME] daily unless otherwise authorised by your supervising officer. This condition will be reviewed by your supervising officer on a [WEEKLY / MONTHLY / ETC] basis and may be amended or removed if it is felt that the level of risk that you present has reduced appropriately.</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6">New licence condition</h2>

<p class="govuk-hint">You no longer need to say how often the condition will be reviewed.</p>

<div class="govuk-inset-text">
You must stay at the address approved by your supervising officer during certain hours each day, unless they give permission. This is called a curfew. Your curfew hours are between [TIME] and [TIME] daily. 
</div>



<a href="./check-licence-condition-13a" class="govuk-button show-continue" style="margin-top: 10px;">Accept change</a>
    
<a href="../delete-condition-confirm" class="govuk-button govuk-button--secondary" style="margin-top: 10px; margin-left: 10px;">Delete this condition</a>


  </div>
</div>
{% endblock %}
