{% extends "layouts/cvl.html" %}

{% set pageName="Review policy changes to additional licence conditions" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-caption-l">Change 6 of 6</span>
        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-2">
          Review policy change
        </h1>
      </legend>


      <p>The licence condition below has been changed in policy.</p>

      <p>Before you can continue varying this licence, you must review this change and then accept it or delete the condition.</p>
        
      <p>The licence will then be updated automatically.</p>



<div class="govuk-form-group">


<h2 class="govuk-heading-m govuk-!-margin-top-8">Licence condition being changed</h2>

<p>To comply with any instruction given by your
supervising officer requiring you to attend polygraph
testing. To participate in polygraph sessions and
examinations as instructed by or under the authority
of your supervising officer and to comply with any
instruction given to you during a polygraph session
by the person conducting the polygraph.</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6">New licence condition</h2>

<p class="govuk-hint">The condition has been simplified.</p>

<div class="govuk-inset-text">
You must have polygraph tests and follow the instructions of the person doing them. You must not try to stop or disrupt the test.
</div>



<a href="./check-licence-condition-14a" class="govuk-button show-continue" style="margin-top: 10px;">Accept change</a>
    
<a href="../delete-condition-confirm" class="govuk-button govuk-button--secondary" style="margin-top: 10px; margin-left: 10px;">Delete this condition</a>



  </div>
</div>
{% endblock %}
