{% extends "layouts/cvl.html" %}

{% set pageName="Licence conditions for Maxwell Kirby sent" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-dm-header/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Licence conditions for Maxwell Kirby sent
      </h1>
    </div>
    <h2 class="govuk-heading-m">
      What happens next
     </h2>

        <p>We have sent the licence for approval. This is usually done by the prison governor.</p>

        <p>Once the licence has been approved, we will automatically email the probation team to tell them. </p>

        <h2 class="govuk-heading-m">
          If you need to make any changes
       </h2>

       <p>Only the initial appointment can be changed. For example, because a probation practitioner requests a different date or time. You can return to the service to edit this after it has been sent or approved.</p>
 
        <p>The licence will not need to be approved again.</p>

        <a href="../case-list-pip-approved?maxwell=submitted">
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Return to caselist
          </button>
        </a>

        <p class="govuk-!-margin-top-6"><a href="/v4/approver/cvl-home" class="govuk-link--no-visited-state">Jump to approver flow</a></p> 


  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-dm-ca-footer/include.html" %}

{% endblock %}