{% extends "layouts/cvl.html" %}

{% set pageName="Are you sure you want to create this licence?" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
      Manage email reminders
    </h1>

    <p>You can receive email reminders to help you keep track of licences.</br>
      The preferences you choose below will apply to licences for all the people on your case load.</p>

    <p>Emails will be sent to <strong>s.rooney@justice.gov.uk</strong>.</p>

  <form action="./cvl-home" method="post" novalidate>



  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="reminder-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-4">
      Choose when to receive an email reminder
      </h1>
    </legend>
    <!--<div id="reminder-hint" class="govuk-hint">
      Select all that apply.
    </div>-->
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder" name="reminder" type="checkbox" value="before handover starts" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder">
          When you have licences to create
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          A list of everyone on your case load with 4 weeks or less to release whose licence has not been started in this service. It is sent every Monday.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-2" name="reminder" type="checkbox" value="handover start date" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-2">
          If someone who has been reallocated to you needs a licence
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-2" name="reminder" type="checkbox" value="handover start date" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-2">
          When someone needs a licence following a fixed-term recall
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-3" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-3">
          When the prison generate a standard licence
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          If you do not submit a licence by 2 days before release, we will tell you if the prison generate a standard licence for them using this service.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          When a review of a standard licence is overdue 
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          We will send you a reminder if you do not review a standard licence generated by the prison in this service within 3 days of release.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          To let you know that the prison have changed dates in NOMIS 
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          For example, we will tell you if someone’s release date changes in case you need to adjust their initial appointment. 
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          If changes you made to an approved licence do not get reapproved in time for the prison's final release checks 
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          This is sent for all standard release licences, which must be submitted by 2 days before release.
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          If changes you made to an approved licence do not get reapproved in time for release 
        </label>
        <div class="govuk-hint govuk-checkboxes__hint">
          This is sent for people leaving prison under an early release scheme, whose licences do not need to be submitted by 2 days before release. 
        </div>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          When a licence variation is approved 
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="reminder-4" name="reminder" type="checkbox" value="missing com" checked="true">
        <label class="govuk-label govuk-checkboxes__label" for="reminder-4">
          To tell you that a licence variation request needs your attention
        </label>
      </div>
    </div>
  </fieldset>
  </div>

        


    <div class="govuk-button-group" style="margin-top: 40px;">
      <button class="govuk-button" data-module="govuk-button" name="emailreminders" value="updated">Update</button>
      <a class="govuk-link" class="govuk-link--no-visited-state" href="./cvl-home">Cancel</a>
    </div>

  </form>
             


  </div>
</div>
{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}