{% extends "layouts/cvl.html" %}

{% set pageName = "Who is the initial appointment with?" %}
{% set htmlClasses = "app-width-wide" %}

{% block header %}
  {% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{% block beforeContent %}
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  {% include "components/prisoner-subheader/include.html" %}
{% endblock %}

{% block content %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="./check-licence">

      {% set textHtmlOther %}
        {{ govukInput({
          name: "who4",
          classes: "govuk-input--width-30",
          label: {
            text: "Enter name"
          }
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "whoApptWith",
        fieldset: {
          legend: {
            text: "Who is the initial appointment with?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Philamina Rogers",
            text: "Philamina Rogers, this person's community probation practitioner"
          },
          {
            value: "Duty officer",
            text: "Duty officer"
          },
          {
            value: "someone-else",
            text: "Someone else",
            hint: {
              text: "For example, someone at an approved premises or a different probation practitioner."
            },
            conditional: {
              html: textHtmlOther
            }
          },
          {
            divider: "or"
          },
          {
            value: "no-appointment",
            text: "No appointment needed",
            hint: {
              html: "We will add the community probation practitioner's name to the licence and ask for some contact details.<br>This is so the person knows who to contact for support."
            }
          }
        ]
      }) }}

      <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">

        <h2 class="govuk-heading-m">Help with initial appointments</h2>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              When no initial appointment is needed
            </span>
          </summary>
          <div class="govuk-details__text">
            Select No appointment needed if the person is being released in the final third of their sentence, for example after a recall or prison adjudication.          </div>
        </details>

      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "components/cvl-pp-footer/include.html" %}
{% endblock %}