{% extends "layouts/cvl.html" %}

{% set pageName="Prison will create this licence" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">
          Prison will create this licence
        </h1>

        <p>You can no longer create a licence for this person as you did not get one approved in time for the prison's final release checks.</p>

        <p>The prison will now create a licence. You will need to review it once this person is released.</p>


        <h2 class="govuk-heading-m">
          Initial appointment
        </h2>

        <h3 class="govuk-heading-s">
          Heading one
        </h3>

        <ul class="govuk-list govuk-list--bullet">
         <li>The prison can tell this person to report immediately after release or by 2pm the next working day</li>
         <li>Or they can set a specific date and time, for example if you request this by contacting test@justice.gov.uk</li>
        </ul>

        <h3 class="govuk-heading-s">When no initial appointment is needed</h3>

         <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              When no initial appointment is needed
            </span>
          </summary>
          <div class="govuk-details__text">
            Select no appointment needed if this person is being released in the final third of a standard determinate sentence and is not:
              <ul class="govuk-list govuk-list--bullet" style="margin-top: 5px">
                <li>MAPPA eligible</li>
                <li>named on a child protection plan</li>
                <li>sentenced for a state threat or a terrorist risk offence</li>
                <li>tier A, B or C</li>
                <li>serving a standard determinate sentence plus</li>
              </ul>
        
          </div>
        </details>




        <h2 class="govuk-heading-m" style="margin-top: 40px;">Licence conditions</h2>

        <p>The licence will contain standard licence conditions. By default, it will also automatically contain an additional condition.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
            Making or maintaining contact with a person
           </dt>
          <dd class="govuk-summary-list__value">
            Not to approach or communicate with any victims of your offences without the prior approval of your supervising officer.
          </dd>
         </div>
        </dl>
        

        <p>The prison cannot add any other additional or bespoke conditions.</br>
        If you need to add any additional or bespoke licence conditions, you can do so after release.</p>

    <form action="case-list-start" method="get">
          <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
           Return to caselist
          </button>
    </form>

   
    <p class="govuk-!-margin-top-6"><a href="/v5/case-admin/cvl-home" class="govuk-link--no-visited-state">Jump to case admin flow</a></p>


  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}