{% extends "layouts/cvl.html" %}

{% set pageName="Check licence details" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Check licence details
        </h1>



        <p>Some information has been saved from a previous licence.</p>



        <h2 class="govuk-heading-m" style="margin-top: 40px;">
          Initial appointment details
            </h2>
    
    
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['whoApptWith'] or "Not entered yet" }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['addressLine1'] or "Not entered yet" }}
                  {% if data['addressLine2'] %}{{ data['addressLine2'] }}{% endif %} 
                  {{ data['addressTown'] }} 
                  {% if data['addressCounty'] %}{{ data['addressCounty'] }}{% endif %} 
                  {{ data['addressPostcode'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Contact phone number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['phoneNumber'] or "Not entered yet" }}             
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> contact phone number</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Alternative contact phone number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['AlternativePhoneNumber'] or "Not entered" }}       
                  
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> contact phone number</span></a>
                </dd>
              </div>
           
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              Not entered yet
             </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> date</span></a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value">
              Not entered yet
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> time</span></a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>


            
    



          
          <div style="margin-top: 100px;">

            <h2 class="govuk-heading-m" style="display: inline;">
              Additional licence conditions (2)
                </h2>
  
                
                <a href="../../../../_common/not-testing.html">
                  <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Add or remove conditions
                  </button>
                </a>
  
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Disclosure of information
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>Notify your supervising officer of any developing relationships, including status changes such as engagement, marriage, pregnancies or the ending of any relationships, and disclose the details of the person you are in a relationship with.</p>
                                    

                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> ?</span></a>
                        </li>
                      </ul>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Freedom of movement
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>Not to enter the area as defined by the attached map, during the period that [NAME OF EVENT] takes place, including all occasions that the event takes place, without the prior permission of your supervising officer.</p>
                      <p class="hint-condition-custom">City Marathon</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> ?</span></a>
                        </li>
                      </ul>
                    </dd>
                  </div>
                </dl>
          </div>
          
  
  
          
  
          <div style="margin-top: 100px;">
            <h2 class="govuk-heading-m" style="display: inline;">
              Bespoke licence conditions (1)
                </h2>
  
                
                <a href="../../../../_common/not-testing.html">
                  <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Add or remove conditions
                  </button>
                </a>
  
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Bespoke condition	
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['bespokeDetail'] or "Do not enter your local park" }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> ?</span></a>
                        </li>
                      </ul>
                    </dd>
                  </div>
                </dl>
          </div>
          


          

            <!--<h2 class="govuk-heading-m" style="margin-top: 100px;">
               Additional information
            </h2>

            <p>This information will not appear on the licence.</p>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key">
              Are they being tagged as part of a pathfinder or programme?
           </dt>
          <dd class="govuk-summary-list__value">
            <p>Yes</p>
            <p>DAPOL</p>
          </dd>
         <dd class="govuk-summary-list__actions">
           <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> if they are being tagged as part of a pathfinder or programme</span></a>
          </dd>
         </div>
        </dl>-->



        <div class="govuk-button-group" style="margin-top: 80px;">
          <a href="../confirmation" type="submit" class="govuk-button" data-module="govuk-button">
           Send to prison for approval
        </a>
        <a class="govuk-link govuk-!-font-size-19 govuk-link--no-visited-state" href="#">
            Return to caselist
        </a>
        </div>




  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}