{% extends "layouts/cvl.html" %}

{% set pageName="Are you sure you want to generate a standard licence for this person?" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-dm-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form action="/v2/are-you-sure-generate-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you sure you want to generate a standard licence for this person?
              </h1>
            </legend>

            <p>By default, the licence will automatically contain the following restrictions:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>standard conditions</li>
              <li>the following additional condition:</li>
            </ul>

          <div class="govuk-inset-text">
             Not to approach or communicate with any victims of your offences without the prior approval of your supervising officer.
          </div>

          <p>You cannot add any other additional or bespoke conditions.</p>

          <p>A community probation practitioner can do this after release.</p>

            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="generateLicence" name="generateLicence" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="generateLicence">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="generateLicence-2" name="generateLicence" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="generateLicence-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Continue
          </button>
        </form>
  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-dm-ca-footer/include.html" %}

{% endblock %}