{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">CVL improvements prototype</h1>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Prototype v1
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link--no-visited-state" href="./v1/index">Start prototype v1</a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          CVL before July 2025
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://justiceuk.sharepoint.com/:w:/r/sites/TeamElephants/Shared%20Documents/Create%20and%20vary%20a%20Licence/4.%20Public%20Beta/Design/Onboarding/Team%20Elephants%20-%20Prototype%20Onboarding.docx?d=w2bd9901517184139a4543be2ad9d8ef6&csf=1&web=1&e=Qn5rqx" target="_blank">List of old prototypes</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          CVL onwards
        </dt>
        <dd class="govuk-summary-list__value">
          CVL as is
        </dd>
      </div>
    </dl>
  </div>
</div>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Prototype v2
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link--no-visited-state" href="./v2/index">Start prototype v2</a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Electronic monitoring / Pathfinder programme
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-2906" target="_blank">CVSL-2906</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Alternative phone number
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVOzWjneY=/?moveToWidget=3458764635391731057&cot=14" target="_blank">CVL | Content & Interaction Design (miro board)</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode search and save addresses
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVOzWjneY=/?moveToWidget=3458764634835730806&cot=14" target="_blank">CVL | Content & Interaction Design (miro board)</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Recalls
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVI2OB4D8=/?moveToWidget=3458764631457389632&cot=14" target="_blank">CVL | Fixed term recalls (miro board)</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Managing email reminders 
        </dt>
        <dd class="govuk-summary-list__value">
          Backlog ticket: <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-3406" target="_blank">CVSL-3406</a></br>
          Design files: v2/_ur_flow_sept25/emails
        </dd>
      </div>
    </dl>
  </div>
</div>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Prototype v3
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link--no-visited-state" href="./v3/index">Start prototype v3</a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Time served licences
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVIgXgzB0=/?moveToWidget=3458764635574197969&cot=14" target="_blank">CVL | Time Served (miro board)</a></br>
        </dd>
      </div>
    </dl>
  </div>
</div>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Prototype v4
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link--no-visited-state" href="./v4/index">Start prototype v4</a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          HDC licences in CVL
        </dt>
       <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVLIok640=/?moveToWidget=3458764651988931943&cot=14" target="_blank">HDC licences in CVL 2026 (miro board)</a></br>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Lock/unlock licences
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/wiki/spaces/ET/pages/6116215145/Descoped+lock+unlock+functionality" target="_blank">Descoped functionality (confluence)</a></br>
          Design files: v4/user-research-hdc/april-26
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Limited access offender (LAO)
        </dt>
        <dd class="govuk-summary-list__value">
          <a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVI1Nl5Rc=/?moveToWidget=3458764650063056882&cot=14" target="_blank">CVL | Global Improvements (miro board)</a></br>
        </dd>
      </div>
    </dl>
  </div>
</div>


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      Prototype v5
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link--no-visited-state" href="./v5/index">Start prototype v5</a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          New additional conditions (June 2026)
        </dt>
        <dd class="govuk-summary-list__value">
          Driving prohibition <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-4060" target="_blank">CVSL-4060</a></br>
          Event exclusion <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-4068" target="_blank">CVSL-4068</a></br>
          Drinking establishment prohibition <a class="govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-4070" target="_blank">CVSL-4070</a></br>
          Restriction zone <a class="govuk-link--no-visited-state" href=" https://dsdmoj.atlassian.net/browse/CVSL-4105" target="_blank">CVSL-4105</a>
        </dd>
      </div>
    </dl>
  </div>
</div>


<p><a class="govuk-link--no-visited-state" href="./how-to-create-new-version" target="_blank">How to create a new proto version</a></p>

























    
  </div>
</div>

{% endblock %}
