{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      CVL improvements prototype
    </h1>


<p>Prototype for CVL improvements work.</p>

<p>

<p><a class="govuk-link--no-visited-state" href="./v1/index.html">Prototype v1 - CVL as is</a></p>
<p><a class="govuk-link--no-visited-state" href="./v2/index.html">Prototype v2 - Further CVL improvements</a>
</br></br>
Which includes:

    <ul class="govuk-list govuk-list--bullet">
      <li>Electronic monitoring</li>
      <li>Alternative phone number</li>
      <li>Postcode search and save addresses</li>
      <li><a class="govuk-link--no-visited-state" href="https://miro.com/app/board/uXjVI2OB4D8=/?moveToWidget=3458764631457389632&cot=14" target="_blank">Recalls (open miroboard)</a></li>
    </ul>


</p>
























    
  </div>
</div>

{% endblock %}
