{% extends "layouts/cvl.html" %}

{% set pageName="You must contact the probation team" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-dm-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="moj-interruption-card">
      <div class="moj-interruption-card__content">
        <h1 class="moj-interruption-card__heading"></h1>
        <div class="moj-interruption-card__body">

          <h1 class="govuk-heading-l" style="font-size: 36px;">No curfew address or CAS area</h1>

          <p class="govuk-body">You cannot work on this licence until there is an approved curfew address or CAS area in the HDC service.</p>
          <p class="govuk-body"><a style="color:white" href="#">Check the HDC service</a> for more information about the HDC application.</p>

        </div>


        

        <div class="govuk-button-group moj-interruption-card__actions" style="margin-top: 40px;">

        
        <a href="../../case-list-start" role="button" draggable="false" class="govuk-button govuk-button--inverse" data-module="govuk-button">Return to case list</a>
        
      
        </div>




      </div>
    </div>



  </div>
</div>
{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}