{% extends "layouts/cvl.html" %}

{% set pageName="You must contact the probation team" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-dm-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="moj-interruption-card">
      <div class="moj-interruption-card__content">
        <h1 class="moj-interruption-card__heading"></h1>
        <div class="moj-interruption-card__body">

          <h1 class="govuk-heading-l" style="font-size: 36px;">HDC application postponed</h1>

          <p class="govuk-body">You can continue working on this licence but it can only be approved if the application resumes.</p>

          <p class="govuk-body">Contact omu.wandsworth@justice.gov.uk to ask for the application to be refused if this person needs a licence for a standard release.</p>

          <p class="govuk-body"><a href="#" style="color: white;">Check the HDC service</a> for more information about the HDC application.</p>
      
            
        </div>


        

        <div class="govuk-button-group moj-interruption-card__actions" style="margin-top: 40px;">

        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--inverse" data-module="govuk-button">
          Continue
        </a>
        <a class="govuk-link govuk-link--inverse" href="../../case-list-start?HDCevent=postpone">Return to case list</a>

        </div>




      </div>
    </div>



  </div>
</div>
{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}