{% extends "layouts/cvl.html" %}

{% set pageName="Are you sure you want to edit this licence?" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form action="/v5/appointmentNeededca" method="post">

      <input type="hidden" name="prisoner" value="adrian">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Does this person need an initial appointment?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appointmentNeeded" name="appointmentNeeded" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="appointmentNeeded">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appointmentNeeded-2" name="appointmentNeeded" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="appointmentNeeded-2">
                  No
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
               We will add the community probation practitioner's name to the licence and ask for some contact details. This is so the person knows who to contact for support.                </div>
              </div>
            </div>
          </fieldset>
        </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Continue
          </button>
        </form>
  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}